* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/*   css for navigation bar   */
.header {
    background-color: rgba(223, 209, 226, 0.763);
}

.topnav {
    overflow: hidden;
    display: block;
    left: 0%;
}

.topnav a {
    float: left;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {

    color: black;
}

.topnav a.active {

    color: white;
}

.active {
    text-decoration: none;
    left: 0%;
    margin: 10px;
}

.active1 {
    position: fixed;
    right: 0%;
}

.nav {

    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(12, 2, 2);
}

/*     css for home search bar      */

.outer-box {
    position: fixed;
    top: 70px;
    padding: 250px;
    background: url('../images/home_train.jpg');
    height: 100px;
    width: 1650px;
    filter: blur(1px);
    -webkit-filter: blur(4px);
}

.inner-box {

    border-radius: 10px;
    background-color: rgb(90, 87, 84);
    width: 1000px;
    height: 300px;
    position: absolute;
    bottom: 100px;
    opacity: .30;
    color: black;
    filter: alpha(opacity=20);

    -ms-filter: "alpha(opacity=50)";

    -khtml-opacity: .50;

    -moz-opacity: .50;

}

.inner-box1 {
    color: black;
    background-color: rgb(215, 217, 219);
    width: 1000px;
    height: 230px;
    position: absolute;
    bottom: 100px;
    background: transparent;
    display: flex;
    align-items: center;
}

.input-box {
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 100px;
}

.from_station{
    position: absolute;
    left:25%;
}

.from_station1{
    position: absolute;
    left: 47%;
}

label {
    color: rgb(249, 250, 212);
    font-weight: 900;
    font-size: larger;

}

input {
    color: rgb(255, 255, 255);
    background: none;
}

.headline {
    position: absolute;
    top: 0%;
    left: 5%;
    color: black;
    animation: fadeIn 5s;

}

.activities {
    color: white;
    background-color: black;
    border: none;
    font-size: medium;
    position: absolute;
    top: 37%;
    left: 110%;
    font-weight: 400;

}

h3 {
    color: #333;
    font-family: tahoma;
    font-size: 2.5rem; 
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 1000px;
}

h3 span {
    font-size: 40px;
    margin-left: 40px;
}

.message {
    background-color: transparent;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 140px;
    animation: openclose 7s ease-in infinite;
}

.word1,
.word2
{
    font-family: tahoma;
}

@keyframes openclose {
    0% {
         top: 0.2rem; 
        width:max-content;
    }

    5% {
        top: -9rem;
        width:max-content;
    }

    15% {
        width: 230px;
        width: max-content;
    }

    30% {
        top: 0.2rem;
        width: 230px;
        width: max-content;
    }

}

.searching1 button {
    font-family: cursive;
    font-weight: 600;
    font-size: 16px;
    padding:5px;
    background: none;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1%;
    background: linear-gradient(0deg, rgb(255, 37, 37), black);
}

button:hover {
    background: linear-gradient(0deg, black, rgb(19, 236, 91));
}