{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'trains\css\auth.css'%}">
    <link href="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--                      navigation bar                             -->


    <div class="header">
        <div class="nav" class="topnav">
            <div class="topnav">
                <a class="active" href="/search-train/">Home</a>
                {% if user.is_authenticated %}
                <a class="active" href="/logout/"> {{user.username}} | Logout</a>
                <label for=""></label>
                {% else %}
                <a class="active" href="/login/">Login | Register</a>
                {% endif %}
                <select class="activities" onchange="location = this.value;" name="activities">
                    <option class="option">Train Activities</option>
                    <option class="option1" value="/search-train/">Book Train</option>
                    <option class="option2" value="/pnr-status/">PNR Status</option>
                    <option class="option3" value="/pnr-status/">Cancel Ticket</option>
                </select>
                <i style="position:fixed; right:0%; margin:10px; font-size:40px;" class='bx bx-train bx-tada'></i>
            </div>
        </div>
    </div>


    <!--               login and registeration box                -->


    <div class="container">
        <div class="curved-shape"></div>
        <div class="curved-shape2"></div>
        <div class="form-box login">
            <h2 class="animation" style="--d:0">Login</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-box animation" style="--d:1">
                    <input type="text" name= "username" required>
                    <label for="username">UserName</label>
                    <i class="bx bxs-user"></i>
                </div>

                <div class="input-box animation" style="--d:2">

                    <input type="password" name= "password" required>
                    <label for="password">Password</label>
                    <i class='bx bxs-lock'></i>
                </div>
                <div class="input-box animation" style="--d:3">
                    <button class="btn" type="submit">Login</button>

                </div>
                <div class="regi-link animation" style="--d:4">
                    <p>Don't have an account ? <a class="signuplink">Sign Up</a></p>
                </div>
            </form>
        </div>
        <div class="info-content login" style="--d:5">
            <h2 class="animation">WELCOME BACK!</h2>

        </div>
        <div class="form-box Register">
            <h2 class="animation" style="--b:0">Register</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-box animation" style="--b:1">
                    <input type="text" name ="username"required>
                    <label for="">UserName</label>
                    <i class="bx bxs-user"></i>
                </div>

                <div class="input-box animation" style="--b:1">
                    <input type="email" name="email" required>
                    <label for="">Email</label>
                    <i class='bx bxs-envelope'></i>
                </div>

                <div class="input-box animation" style="--b:2">

                    <input type="password" name= "password" required>
                    <label for="">Password</label>
                    <i class='bx bxs-lock'></i>
                </div>

                <div class="input-box animation" style="--b:3">
                    <button class="btn" type="submit">Register</button>

                </div>
                <div class="regi-link animation " style="--b:4">
                    <p>Already have an account ? <a class="signinlink">Sign In</a></p>
                </div>
            </form>
        </div>
        <div class="info-content Register">
            <h2 class="animation" style="--b:5;--S:0;">HOLA!</h2>

        </div>
    </div>

    <script src="{% static 'trains\js\auth.js' %}"></script>
</body>

</html>